                    <div class="column is-one-third hero is-primary" style="min-height:100vh">
                        <div class="section has-text-centered">
                            <h1 class="title libe-semicondensed is-uppercase is-size-1">Title Ultricies Nullam Ornare</h1>
                            <h2 class="subtitle libe-semicondensed is-size-4">Subtitle morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui.</h2>
                            <div class="columns is-centered">
                                <div class="column">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias illum, ipsa repellat, tempora ipsum id quaerat a iure! Laborum ab sapiente inventore! Explicabo ratione animi nobis nulla at iure fugit?</p>  
                                </div>
                            </div>
                            <div class="logoSixplus logoWhite">
                                <a href="http://www.liberation.fr/data-nouveaux-formats-six-plus,100538" target="_blank">Six Plus</a>
                            </div>
                        </div>
                    </div>
