        <meta property="og:site_name" content="Libération.fr"/>
        <meta property="og:url" content="http://www.liberation.fr/apps/{{page.year}}/{{page.month}}/{{page.slug}}/" />
        <meta property="og:title" content="{{page.title}}" />
        <meta property="og:description" content="{{page.description}}" />
        <meta property="og:image" content="http://www.liberation.fr/apps/{{page.year}}/{{page.month}}/{{page.slug}}/social.jpg" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@libe" />
        <meta name="twitter:creator" content="@libe" />
        <meta name="twitter:url" content="http://www.liberation.fr/apps/{{page.year}}/{{page.month}}/{{page.slug}}/" />
        <meta name="twitter:title" content="{{page.title}}" />
        <meta name="twitter:description" content="{{page.description}}" />
        <meta name="twitter:image" content="http://www.liberation.fr/apps/{{page.year}}/{{page.month}}/{{page.slug}}/social.jpg">
    