            <section>
                <div class="container">
                    <div class="tabs">
                      <ul>
                        <li class="is-active"><a>One</a></li>
                        <li><a>Two</a></li>
                        <li><a>Three</a></li>
                        <li><a>Four</a></li>
                      </ul>
                    </div>
                </div>
            </section>
