<!doctype html>
<html>
    {{> head}}
    <body>
        <div id="app">
            {{> headerTop}}
            {{> chapo}}
        </div>

        <!-- Scripts -->
        <script type="text/javascript" src="scripts/app.js"></script>

        <!-- Header -->
        <!-- <script type="text/javascript" src="http://www.liberation.fr/menu/script.js"></script> -->
        
        {{> tracking}}
        
    </body>
</html>
