<!doctype html>
<html>
    {{> head}}
    <body>
        <div id="app">
            {{> headerTop}}
            <section>
                <div class="columns is-gapless">
                    <div class="column is-one-third">
                        <div class="section">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quod dicta voluptas tenetur vero obcaecati impedit, officiis aperiam inventore error. Fugit enim sapiente non laudantium sequi perspiciatis dolore quia iste.</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="hero is-light" style="min-height:100vh;">
                            
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Scripts -->
        <script type="text/javascript" src="scripts/app.js"></script>

        <!-- Header -->
        <!-- <script type="text/javascript" src="http://www.liberation.fr/menu/script.js"></script> -->
        
        {{> tracking}}
        
    </body>
</html>